.lab2 {
  scroll-behavior: smooth;
}

@font-face {
  font-family: matemasie;
  src: url(./fonts/Matemasie-Regular.ttf);
}

@font-face {
  font-family: cavet;
  src: url(./fonts/CaveatBrush-Regular.ttf);
}

@font-face {
  font-family: indie;
  src: url(./fonts/IndieFlower-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}

/* HEADER */
.title {
  background: url(./images/titlePic.jpg);
  background-size: cover;
  text-align: center;
  animation: spacing 2s 1 ease-in-out;
}

@keyframes spacing {
  0% {
    letter-spacing: 0px;
    opacity: 0.7;
  }
  50% {
    letter-spacing: 8px;
    opacity: 0.9;
  }
  100% {
    letter-spacing: 0px;
    opacity: 1;
  }
}

.title > h1 {
  font-family: matemasie;
  font-size: 6vw;
  padding: 8vw;
  text-shadow: 5px 5px 10px grey;
  color: #2a2418;
  margin: 0;
}
/* HEADER  */

/* NAV */

.navBar {
  border: 5px;
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 10vw;
  justify-content: center;
  /* maybe position fixed */
  border: 2px solid black;
  border-left: 0;
  border-right: 0;
  font-size: 3vw;
  background-color: rgba(197, 174, 171, 0.6);
}
.navBar a {
  /* why doesn't '>' work??  */
  text-decoration: none;
  font-family: indie;
  font-weight: 900;
  color: #2a2418;
  text-shadow: 1px 2px 5px grey;
  transition: 0.5s;
}
.navBar a:hover {
  color: #98798e;
}

/* NAV  */

/* GenInfo */
main {
  background-image: linear-gradient(
    white,
    white,
    white,
    rgba(183, 192, 186, 0.5)
  );
  padding-top: 4vh;
  padding-bottom: 4vh;
}
main p {
  font-family: indie;
  font-size: 1.6vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

/* GenInfo*/

/* EXPERIENCE */

#myExp {
  background-color: rgba(183, 192, 186, 0.5);
  padding-top: 4vh;
  padding-bottom: 4vh;
}
#myExp h2 {
  font-family: indie;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 2.5vw;
  margin-bottom: 2vh;
}
#myExp p {
  font-family: indie;
  font-size: 1.6vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 0;
}
#myExp div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8.5vw;
  margin: 0;
  padding: 0;
  margin-left: 1vw;
  margin-right: 1vw;
}
#myExp figure {
  width: 1fr;
  margin: 0;
  display: inline-block;
  margin-bottom: 2vh;
}
#myExp img {
  width: 100%;
  border: 1px solid rgb(153, 23, 23);
  margin: 0;
  display: block;
  padding: 0.3vw;
}
#myExp figcaption {
  width: 100%;
  margin: 0;
  border: 1px solid #2a2418;
  text-align: center;
  font-family: indie;
  margin-top: 2vh;
  background-color: #98798e61;
  font-size: 1.1vw;
  padding: 0.3vw;
}
/* EXPERIENCE */

/* Grids and Flexboxes */

#patterns {
  font-family: indie;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-image: linear-gradient(rgba(183, 192, 186, 0.5), white, white);
}
#patterns h2 {
  font-size: 2.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 2.5vw;
  margin-bottom: 2vh;
}
#patterns p {
  font-size: 1.6vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

h3 {
  background-color: rgb(230, 120, 105);
  border: 1px solid #98798e;
  border-left: none;
  border-right: none;
  margin-bottom: 5vh;
  margin-left: 0;
  font-family: indie;
  font-size: 1.6vw;
}

.basics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 7vw;
  padding: 0;
  margin: 0;
  margin-left: 4vw;
  margin-right: 4vw;
  row-gap: 5vw;
  margin-bottom: 5vh;

  /* margin-left: 1vw; */
}

.basics figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.basics > figure > img {
  width: 25vw;
  border: 1px solid black;
  padding: 0.5vw;
}
.basics figcaption {
  font-family: indie;
  padding: 0.3vw;
  margin-top: 2vh;
  font-size: 1.6vw;
}

.advanced {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 7vw;
  padding: 0;
  margin: 0;
  margin-left: 4vw;
  margin-right: 4vw;
  row-gap: 5vw;
  margin-bottom: 5vh;
}

.advanced figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advanced img {
  width: 25vw;
  border: 1px solid black;
  padding: 0.5vw;
}
.advanced figcaption {
  font-family: indie;
  padding: 0.3vw;
  margin-top: 2vh;
  font-size: 1.6vw;
}

.textured {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 7vw;
  padding: 0;
  margin: 0;
  margin-left: 4vw;
  margin-right: 4vw;
  row-gap: 5vw;
  margin-bottom: 5vh;
}

.textured figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.textured img {
  width: 40vw;
  border: 1px solid black;
  padding: 0.5vw;
}
.textured figcaption {
  font-family: indie;
  padding: 0.3vw;
  margin-top: 2vh;
  font-size: 1.6vw;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 7vw;
  padding: 0;
  margin: 0;
  margin-left: 4vw;
  margin-right: 4vw;
  row-gap: 5vw;
  margin-bottom: 5vh;
}

.types figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.types img {
  width: 17vw;
  border: 1px solid black;
  padding: 0.5vw;
}
.types figcaption {
  font-family: indie;
  padding: 0.3vw;
  margin-top: 2vh;
  font-size: 1.6vw;
}

/* Grids and Flexboxes */

/* FOOTER */

#tools {
  display: grid;
  grid-template-columns: 1fr 0.55fr 1fr;
  column-gap: 10vw;
  background-image: url(./images/footerPic.webp);
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: cavet;
  color: #2a2418;
}
#tools h2 {
  font-size: 2vw;
}
#tools div {
  display: flex;
  flex-direction: column;
}
#tools img{
  width: 4.5vw;
}
#tools input {
  padding: 0;
  width: 100%;
  height: 17vh;
  display: block;
  padding-left: 0.5vw;
  font-family: cavet;
  margin-bottom: 1vh;
  border-radius: 10px;
  background-color: rgba(223, 210, 199, 0.9);
  border: 1px solid #98798e;
}
#tools a {
  text-decoration: none;
  color: #2a2418;
  cursor: pointer;
  font-size: 1.2vw;
}
.links a::before {
  content: "🔗 ";
}

/* FOOTER  */
